

@{
    ViewData["Title"] = "Home Page";
}

@if (User.Identity.IsAuthenticated)
{
    <div class="text-center">
        <h1 class="display-4">Welcome @User?.Identity?.Name</h1>
        <ul class="navbar-nav flex-grow-1">
             @if (User.IsInRole("Admin"))
            { 
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Index">Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Status" asp-action="Index">Status</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Priorities" asp-action="Index">Priorities</a>
                </li>
             } 
            @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
            {
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Teams" asp-action="Index">Команды</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Tasks" asp-action="Index">Задачи</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="TeamMembers" asp-action="Index">Участники команд</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="TeamsProjects" asp-action="Index">Проекты по командам</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Projects" asp-action="Index">Проекты</a>
                </li>

            }
            @if (User.IsInRole("User"))
            {
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Tasks" asp-action="Index">Задачи</a>
                </li>
            }

        </ul>
    </div>

}
else
{
    <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Login">Войдите в аккаунт!</a>
}

