@model ProjectsManager.Models.TeamMember

@{
    ViewData["Title"] = "Удаление сотрудника из команды";
}

<h1 class="form-title">Удаление сотрудника из команды</h1>

<h4 class="form-title">Вы уверены, что хотите удалить сотрудника "@Model.User.LastName @Model.User.Name @Model.User.Patronymic" из команды "@Model.Team.Name"?</h4>

<div>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-primary" /> 
    </form>
</div>
