@model ProjectsManager.Models.Priority

@{
    ViewData["Title"] = "Удаление приоритета";
}

<h1 class="form-title">Удаление приоритета</h1>

<h3 class="form-title">Вы уверены, что хотите удалить?</h3>
<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-primary" /> 
    </form>
</div>
