@model ProjectsManager.Models.TeamsProject

@{
    ViewData["Title"] = "Удалить проект из команды";
}

<h1 class="form-title">Удалить проект из команды</h1>

<h4 class="form-title">Вы уверены, что хотите удалить проект "@Model.Project.Name" из команды "@Model.Team.Name"?</h4>
<div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-primary" /> |
        <a class="form-link" asp-action="Index">Вернуться</a>
    </form>
</div>
